{% extends 'temp/userhome.html' %}
{% block base %}
	<form method="post">
		<table border="1">
             <tr><th align="center" colspan="3"><h2 align="center" style="color: black" >View Replay</h2></th><br></tr>

				<tr>
			<tr>
				<th style="color: black">
					Complaint
				</th>
                <th style="color: black">
                    Date
                </th>

                <th style="color: black">
                    Replay
                </th>
            </tr>

                {% for x in value %}
            <tr align="center" style="color: black">
                <td>{{ x.complaint }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.reply }}</td>

            </tr>
            {% endfor %}
        </table>

	</form>

</body>
</html>
{% endblock %}